
:root {
    --color-primary: #FF2D2D;
    --color-primary-black: #000;
    --color-primary-white: #f6f2f2;
    --color-primary-white1:#fff;
    --color-primary-grey: #C0C0C0;
}

/*общие классы*/

.button {

    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height: 56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 100px
}

.page {

    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    font-family: 'OpenSans', Arial, Helvetica, sans-serif;

}

.header__line {
    background-color: var(--color-primary);
    width: 105px;
    height: 2px;
}

/*popup*/

.header__popup-button {
    z-index: 1;
    display: none;
    padding: 0;
    min-width: 140px;
    height: 50px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #000;
}

.header__popup-img {
    width: 40px;
    height: 40px;
}

.hide-popup {
    transform: translateY(-50%);
    z-index: -1;
    visibility: hidden;
}

.header__popup-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
}

.header__popup-item:hover {
    background-color: #ff3f40;
}

.header__popup-link {
    display: flex;
    align-items: center;
    padding: 0 30px;
    color:#e0e0e0;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

/*header*/

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    max-height: 90px;
    margin: 0 auto;
    background-color: var(--color-primary-black);
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;
    height: 20px;
}

.menu__item:hover {
    background-color: #ff3f40;
}

.menu__link {
    align-items: center;
    padding: 300px 30px;
    color: var(--color-primary-white);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 36px;
}

/*home*/

.main__heading {
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.main {
    padding-bottom: 94px;
}

.main__content_header {
    position: relative;
    bottom: 12px;
    max-width: 616px;
    margin-bottom: 20px;
}

.main__heading {

    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-style: italic;
}

.main__text {

    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 62px;
    font-weight: 200;
    margin-top: 36px;
}

.main__action-button {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary-white1);
    background-color: var(--color-primary);
}

.main__iframe_preview {
    min-width: 554px;
    min-height: 360px;
    flex-wrap: wrap;
    box-shadow: 2px 7px 46px 19px rgba(0, 0, 0, 0.2)

}

/*services*/

.services {
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 4px solid #ECECEC;
}

.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
    font-size: 42px;
    text-transform: uppercase;
    position: relative;
    align-items: center;
    display: flex;
    bottom: 6px;
    margin-bottom: 28px;
}

.services__text {
    line-height: 28px;
    margin-bottom: 50px;
}

.services__action-button {

    font-size: 19px;
    color: var(--color-primary);
    font-weight: 700;
    background-color: var(--color-primary-white1);
    border: 3px solid #FF0000;
    box-sizing: border-box;
}

.services__blocks {
    flex: 1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}

.service__heading {

    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
    margin-top: 36px;
}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;

}

.service__text {

    margin: 0;
    font-size: 16px;
    line-height: 28px;
}

.service__heading-manage::before {
    content: url('../images/manage-1.png');
}

.service__heading-ux::before {
    content: url('../images/ux-2.png');
}

.service__heading-logo::before {
    content: url('../images/logo-3.png');
}

.service__heading-ani::before {
    content: url('../images/ani-4.png');
}


/*feature products*/

.feature {
    padding-left: 104px;
    padding-bottom: 52px;
}

.feature__header {
    width: 100%;
    text-align: center;
    margin-bottom: 66px;
}

.feature__title {
    font-size: 42px;
    padding-left: 14px;
    margin-bottom: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.feature__subtitle {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 30px;
    color: var(--color-primary-black);
}


.products__filter {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;

}

.products__link {
    position: relative;
    left: 46px;
    color: var(--color-primary-black);
    margin-right: 56px;
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}


.products__link:hover {
    color: var(--color-primary);
    opacity: 0.7;
}

.product {
    flex: 1 1 24%;
    max-width: 290px;
    height: 293px;
    margin-bottom: 15px;
    margin-left: 10px;
    object-fit: cover;
}

.product:hover {
    cursor: pointer;
    max-width: 300px;
}

/*team*/

.team {
    padding-top: 60px;
    padding-bottom: 12px;
}

.team__header {
    width: 100%;
    text-align: left;
    margin-bottom: 66px;
}

.team__heading {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 42px;
}

.team__text {
    margin: 0;
    line-height: 28px;
    max-width: 480px;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.team__line {
    margin-left: 0;
}

.team__members {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 462px;
}

.team__selected-photo {
    flex-shrink: 0;
    max-width: 405px;
    max-height: 462px;
    margin-right: 50px;
    background-color: var(--color-primary-grey);
    
}

.team__main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@supports (display: grid ) and (display: contents ) {
    .team__members {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }

    .team__main-content {
        display: contents;
    }
}

.team__selected-info {
    display: flex;
    flex-direction: column;
    align-self: start;
    justify-content: space-between;
    max-width: 662px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.team__selected-about {
    margin: 0;
    line-height: 28px;
    margin-bottom: 34px;
}

.team__selected-name {
    bottom: 6px;
    font-size: 30px;
    margin-right: 30px;
    text-transform: uppercase;
    margin-bottom: 16px;
    font-weight: 500;
    font-style: italic;
}

.team__selected-links {
    color: var(--color-primary-black);
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    text-decoration: none;
    margin-right: 30px;

}

.team__selected-links:hover {
    text-decoration: underline;
}

.members {
    display: flex;
    align-items: flex-end;
}

.member {
    position: relative;
    margin-top: 18px;
}

.member:not(:last-child) {
    margin-right: 18px;
}

.member__name {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    color: var(--color-primary-white1);
    position: absolute;
    bottom: 0;
    height: 38px;
    margin: 0;
    text-align: center;
    background-color: var(--color-primary-black);
    opacity: 0.5;
    width: 100%;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;

}

.member:hover>.member__name {
    visibility: visible;
}

.member__photo {
    display: block;
    width: 198px;
    height: 218px;
    background-color: #C0C0C0;
    margin-top: 60px;
}

.subscription {

    margin-top: 80px;
    background-color: #2D2D2D;
    width: 100%;
    max-width: 1579px;
    height: 516px;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 124px;
    padding-top: 140px;

}

.subscription__header {
    margin: 0 auto;
}

.subscription__text {
    color: var(--color-primary-white1);
    font-weight: 700;
    font-size: 42px;
    line-height: 24px;
    letter-spacing: 1.05px;
}

.subscription__text-header {
    color: var(--color-primary-white1);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

}

.subscription__form {
    margin-top: 50px;

}

.subscription__form-email {
    width: 524px;
    height: 82px;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
    padding-left: 30px;
}


.subscription__form-button {
    width: 217px;
    height: 82px;
    border-radius: 6px;
    margin-left: 30px;
    background-color: var(--color-primary);
    color: var(--color-primary-white1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
}

/*message contacts*/

.message__contacts {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 92px;
    padding-bottom: 110px;
}

.message {
    margin-top: 40px;
    padding-left: 420px;
}

.message__left-box {
    flex: 1 1 auto;
}

.message__contacts::after {
    height: 100%;
    background-color: #2D2D2D;
}

/*message*/

.message__header {
    margin-bottom: 34px;
}

.message__heading {
    font-size: 42px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 26px;
}

.message__text {
    margin: 0;
    max-width: 750px;
    line-height: 28px;
    margin-bottom: 50px;
    margin-top: 40px;
}


.message__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 750px;
    margin-right: 106px;
    padding-left: 0;
    padding-right: 0;
}

.message__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.message__input {
    color: var(--color-primary-black);
    background-color: #F2F2F2;
    box-sizing: border-box;
    padding-right: 54px;
    border: none;
    border-radius: 5px;
}

.message__name,
.message__mail {
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 338px;
    height: 68px;
    background-color: #F2F2F2;
    padding: 20px;
}

.message__textarea {
    resize: none;
    font-size: 16px;
    width: 100%;
    height: 252px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #F2F2F2;
    margin-top: 44px;
    margin-bottom: 44px;
    padding: 20px;
}

.message__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    height: 74px;
    color: var(--color-primary-white1);
    background-color: var(--color-primary);
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    line-height: 34px;
}

/*contacts*/

.contacts {
    box-sizing: border-box;
    position: relative;
    background-color: #2D2D2D;
    padding: 126px 56px 126px 83px;
    min-width: 580px;
    min-height: 486px;
    color: var(--color-primary-white1);
}


.contacts__heading {
    color: #e0e0e0;
    font-size: 42px;
    margin-bottom: 18px;
    text-transform: uppercase;
}

.contacts__address {
    line-height: 28px;
}

.contacts__paragraph {
    margin: 0;
    line-height: 34px;
    margin-bottom: 17px;
}

.contacts::after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100%);
    width: 100vw;
    height: 100%;
    background-color: #2C2C2C;
}

.message__right-box {
    min-height: 481px;
    flex: 1 1 auto;
}

.contacts__decoration {
    background-color: #2D2D2D;
}


/*footer*/

.footer {
    background-color: #2D2D2D;
    padding: 0 1vw;
}

.footer__info {
    box-sizing: border-box;
    padding: 20px 0 0;
    color: #888888;
    min-height: 112px;
    align-items: center;

}

.footer__text {
    margin: 0;
    line-height: 26px;
}

.footer__logo>.footer__social-logo:not(:last-child) {
    margin-right: 18px;
}


.footer__social-logo {
    display: inline-block;
}

/*media*/

@media screen and (max-width: 1286px) {
    .main {
        flex-wrap: nowrap;
    }

    .main__content_header {
        width: 50%;
        box-sizing: border-box;
        margin-right: 0;
        padding-right: 16px;
    }

    .main__heading {
        font-size: 5vw;
    }

    .main__iframe_preview {
        width: 100%;
        height: auto;
    }

    .products {
        justify-content: flex-start;
    }

    .product {
        max-width: 100%;
        margin-right: 10px;
    }

    .message {
        margin: 0;
        margin-bottom: 30px;
        padding: 0 1vw;
        grid-column: 1 / 6;
        grid-row: 1 / 2;
    }

    .message__body {
        margin-right: 0;
    }

    .message__contacts {
        flex-wrap: wrap;
        padding-left: initial;
        padding-right: initial;
        padding-bottom: 0;
        grid-template-columns: 100%;
    }

    .message__left-box {
        flex: 1 1 auto;
    }

    .contacts {
        width: 100%;
        max-width: 100%;
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }

    .message__contacts::after {
        content: initial;
    }
}

@media screen and (max-width: 908px) {

    .services__lead,
    .services__blocks {
        width: 100%;
        max-height: 100%;
    }

    .subscription__text {
        line-height: 53px;
    }
}

@media screen and (max-width: 855px) {
 
    
    .team__members {
        grid-template-columns: 100%;
        grid-template-columns: auto;
    }

    .team__selected-photo {
        grid-row: 1 / 2;
        margin-bottom: 18px;
        margin-right: 0;
        margin: 0 auto
    }

    .team__selected-name {
        margin-top: 25px;
    }

    .team__selected-info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .members {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .contacts {
        max-width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .main__page {
        width: 100%;
        justify-content: center;

    }

    .main__iframe_preview {
        width: 100%;
        max-width: 100%;
    }

    .product {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    .services__lead {
        width: 100%;
        max-width: 100%;
    }

    .services__blocks {
        width: 100%;
        max-width: 100%;
    }

    .contacts {
        padding: 1vw;
    }
}

@media screen and (max-width: 750px) {

    .message__name,
    .message__mail,
    .message__textarea {
        width: 100%;
        margin-top: 10px;
    }

    .message__name {
        margin: 0;

    }
}

@media screen and (max-width: 700px) {

    .section {
        max-width: 100%;
        padding-top: 24px;
    }

    .main,
    .services__lead,
    .feature,
    .team__text,
    .team__selected-info {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .team__text {
        max-width: 643px;
    }
    
    .member__photo {
        max-width: 152px;
    }

    .message__contacts {
        padding-top: 55px
    }

    .services {
        padding-top: 0;
        padding-bottom: 0;
    }

    .feature {
        padding-left: 0;
        padding-bottom:0;
    }

    .main__heading,
    .services__heading,
    .team__heading,
    .message__heading {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .subscription__form-button {
        margin-top: 30px;
        height: 58px;
    }

    .subscription__form-email {
        width: 198px;
        height: 53px;
    }

    .product {
        height: 170px;
    }

}

@media screen and (max-width: 600px) {
    .header__popup-button {
        display: block;
    }

   .menu {
        border: 0;
        clip:rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .header__popup-menu {
        position: relative;
        align-self: center;
        display: flex;
        justify-content: center;
        
    }

    .header__popup-page {
        visibility: visible;
        position: absolute;
        transform: translateY(100%);
        z-index: 1;
        bottom:0;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: stretch;
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: #000;
        transition: visibility, transform 1s, 0.5s ease-in-out;

    }
}

@media screen and (min-width: 600px) {
    .header__popup-page {
        visibility: hidden;
    }

}

