.page {
    font-family: 'OpenSans';
    margin: 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;

}

.page__header_grey {
    background-color: #f6f2f2;
}

.header {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    max-width: 1250px;
    min-height: 90px;
    margin: 0 auto;
    background-color: #000;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    min-height: 90px;

}

.menu__item:hover {
    background-color: #ff3f40;
}

.menu__link {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color:#f6f2f2;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/*home*/

.basic__heading {
    display: flex;
    align-items: center;
letter-spacing: 1.5px;
text-transform: uppercase;
}

.basic_content {
    flex-grow: 1;

}

.basic {
    padding-top: 102px;
    padding-bottom: 94px;
}

.basic__content_header {
    position: relative;
    bottom: 12px;
    width: 616px;
    margin-bottom: 20px;
    margin-right: 74px;
}

.basic__heading {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 60px;
    line-height: 72px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.basic__text {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 28px;
    max-width: 520px;
    margin-bottom: 62px;
    font-weight: 200;
    margin-top: 36px;
}

.basic__action_button {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: inline-block;
    width: 228px;
    height:56px;
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
}

.basic__action_red {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #ff2d2d;
}

.basic__red_image {
    width: 554px;
    height: 360px;

}


.basic__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1250px;
    margin: 0 auto;
    padding-left: 1vw;
    padding-right: 1vw;
}

/*services*/

.services {
    padding-top: 106px;
    padding-bottom: 52px;
    border-bottom: 4px solid #ECECEC;
}

.services__lead {
    flex: 1 1 502px;
    max-width: 502px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.services__heading {
font-family:'OpenSans', Arial, Helvetica, sans-serif;
font-size: 42px;
text-transform: uppercase;
position: relative;
align-items: center;
display: flex;
bottom: 6px;
margin-bottom: 28px;
}

.services__text {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    line-height: 28px;
    margin-bottom: 50px;
}

.basic__action_white {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    font-size: 19px;
    color: #FF2D2D;
    background-color: #fff;
    border: 2px solid #FF0000;
    box-sizing: border-box;
}

.services__blocks {
    flex:1 1;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
}

.service {
    flex: 1 1 288px;
    width: 288px;
    margin-bottom: 50px;
    margin-left: 16px;
}

.service__heading {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 12px;
}

.service__heading::before {
    display: block;
    width: 41px;
    height: 41px;
    margin-bottom: 22px;

}

.service__text {
    font-family:'OpenSans', Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 28px;
}

.service__heading_manage::before {
    content: url('../images/Shape\ sp-15719-1-1.png');
}

.service__heading_ux::before {
    content: url('../images/Shape\ sp-15722-0-3.png');
}

.service__heading_logo::before {
    content: url('../images/Shape\ sp-15729-0-2.png');
}

.service__heading_ani::before {
    content: url('../images/Shape\ sp-15734-1-1.png');
}